---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello there 👋</div>
    <div class="text-5xl font-bold">I'm Robert Mapes</div>
    <div class="text-3xl py-3 font-bold">Full Stack Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        I am a professional software developer with industry experience, where I specialised in full-stack web development, writing busines reports and working closely with clients to deliver requested graphical and logical software changes.
      </text>
    </div>

    <div class="mt-8">
      Contact me by email here.
    </div>

    <!-- <div c">
      <a class="btn" href="https://twitter.com/rtotalminer" target="_blank"> Let's connect!</a>
    </div> -->
  </div>
</BaseLayout>
